# Visual Studio user-specific files
.vs/
*.user
*.suo

# Build output
bin/
obj/
out/
Debug/
Release/

# Cache and logs
*.log
*.cache

# Temporary files
*.tmp
*.bak

# JetBrains Rider
.idea/

# Others
*.db
/DotNetCore/ASPNetCoreFounditions/obj/Debug/net9.0/ASPNetCoreFounditions.AssemblyInfo.cs
