# Visual Studio user-specific files
.vs/
*.user
*.suo

# Build output
bin/
obj/
out/
Debug/
Release/

# Cache and logs
*.log
*.cache

# Temporary files
*.tmp
*.bak

# JetBrains Rider
.idea/

# Others
*.db
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/v17/.suo
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/v17/DocumentLayout.backup.json
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/v17/DocumentLayout.json
/DotNetCore/ASPNetCoreFounditions/obj/Debug/net9.0/ASPNetCoreFounditions.AssemblyInfoInputs.cache
/DotNetCore/ASPNetCoreFounditions/Properties/launchSettings.json
/DotNetCore/ASPNetCoreFounditions/ASPNetCoreFounditions.csproj.user
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/FileContentIndex/9e542129-5912-4948-a06b-a71956c11c2f.vsidx
/DotNetCore/ASPNetCoreFounditions/obj/Debug/net9.0/ASPNetCoreFounditions.assets.cache
/DotNetCore/ASPNetCoreFounditions/obj/
/DotNetCore/ASPNetCoreFounditions/obj/.vs
/DotNetCore/ASPNetCoreFounditions/obj/Debug/net9.0/ASPNetCoreFounditions.csproj.AssemblyReference.cache
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/DesignTimeBuild/.dtbcache.v2
/DotNetCore/ASPNetCoreFounditions/.vs/ASPNetCoreFounditions/v17/.futdcache.v2
/DotNetCore/ASPNetCoreFounditions/.vs/ProjectEvaluation/aspnetcorefounditions.metadata.v9.bin
/DotNetCore/ASPNetCoreFounditions/.vs/ProjectEvaluation/aspnetcorefounditions.projects.v9.bin
/DotNetCore/ASPNetCoreFounditions/.vs/ProjectEvaluation/aspnetcorefounditions.strings.v9.bin
/DotNetCore/ASPNetCoreFounditions/obj/project.nuget.cache
/DotNetCore/ASPNetCoreFounditions/obj/project.assets.json
/DotNetCore/ASPNetCoreFounditions/obj/ASPNetCoreFounditions.csproj.nuget.g.props
/DotNetCore/ASPNetCoreFounditions/obj/ASPNetCoreFounditions.csproj.nuget.dgspec.json
